<% if current_user %>
  <%= form_with(model: zen, local: true) do |form| %>
    <% if zen.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(zen.errors.count, "error") %> prohibited this zen from being saved:</h2>

        <ul>
        <% zen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :content, "一善の内容" %>
      <%= form.text_area :content %>
    </div>

    <% if controller.action_name == 'edit' || (controller.action_name == 'index' && params[:id]) %>
    <div class="field">
      <%= form.label :deleted, "削除する場合はチェック" %>
      <%= form.check_box :deleted %>
    </div>
    <% end %>


    <div class="actions">
      <%= form.submit "自分の一善を投稿する" %>
    </div>
  <% end %>
<% end %>