<p id="notice"><%= notice %></p>

<h1>みんなの一善</h1>

<%= render 'form', zen: @zen %>

<table>
  <thead>
    <tr>
      <th>一善の内容</th>
      <th>お名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zens.each do |zen| %>
      <tr>
        <td><%= zen.content %></td>
        <td><%= User.find(zen.user_id).get_nickname %></td>
        <td><%= link_to 'Show', zen %></td>
        <td><%= link_to 'Edit', zens_path(id: zen.id) %></td>
        <td><%= link_to 'Destroy', zen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
