<p id="notice"><%= notice %></p>

<h1>Zens</h1>

<%= link_to '/auth/google_oauth2' %>

<%= render 'form', zen: @zen %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zens.each do |zen| %>
      <tr>
        <td><%= zen.content %></td>
        <td><%= zen.deleted %></td>
        <td><%= link_to 'Show', zen %></td>
        <td><%= link_to 'Edit', zens_path(id: zen.id) %></td>
        <td><%= link_to 'Destroy', zen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
