<p id="notice"><%= notice %></p>

<div class="row">
    <ol class="zens">
      <li id="zen-<%= @zen.id %>">
        <%= link_to identicon_for(@zen.user, size: 50), @zen.user %>
        <span class="user"><%= link_to @zen.user.get_nickname, @zen.user %></span>
        <span class="content"><%= @zen.content %></span>
        <span class="timestamp">
        <%= time_ago_in_words(@zen.created_at.in_time_zone('Tokyo')) %> 前に投稿されました
        </span>
          <% if current_user && current_user.id == @zen.user_id %>
            <span class="links">
            <%= link_to '編集する', edit_zen_path(@zen) %> |
            <td><%= link_to '削除', @zen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </span>
          <% end %>
      </li>
    </ol>
<br>
</div>

<%= link_to '一覧へ戻る', zens_path %>
